<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 템플릿 CSS -->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- begin::Edura Required Stylesheet -->
  <link rel="stylesheet" href="/assets/libs/flaticon/css/all/all.css">
  <link rel="stylesheet" href="/assets/libs/lucide/lucide.css">
  <link rel="stylesheet" href="/assets/libs/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assets/libs/simplebar/simplebar.css">
  <link rel="stylesheet" href="/assets/libs/node-waves/waves.css">
  <link rel="stylesheet" href="/assets/libs/bootstrap-select/css/bootstrap-select.min.css">
  <!-- end::Edura Required Stylesheet -->

   <%- typeof custom_style_pre !== 'undefined' ? custom_style_pre : '' %>
  <!-- begin::Edura CSS Stylesheet -->
  <link rel="stylesheet" href="/assets/libs/flatpickr/flatpickr.min.css">
  <link rel="stylesheet" href="/assets/libs/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <%- typeof custom_style !== 'undefined' ? custom_style : '' %>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/sidebar') %>
  <main>
    <%- include(page) %>
  </main>
  <%- include('partials/footer') %>

  <!-- 템플릿 JS -->
   <!-- begin::Page Scripts -->
  <%- typeof custom_script_pre !== 'undefined' ? custom_script_pre : '' %>
  <script src="assets/libs/global/global.min.js"></script>
  <script src="assets/js/appSettings.js"></script>
  <script src="assets/js/main.js"></script>
  <!-- end::Page Scripts -->
  <%- typeof custom_script !== 'undefined' ? custom_script : '' %>
</body>
</html>

