  <div class="col-lg-8">
    <div class="card overflow-hidden">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="card-title mb-0">장비 목록</h6>
      <button class="btn btn-sm btn-primary mb-3 text-dark" id="addBtn"> + 장비 등록</button>
      </div>
      <div class="card-body p-0 pb-2">
        <table id="equipmentTable" class="table table-striped table-hover table-bordered display">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>모델명</th>
              <th>생성날짜</th>
              <th>작업</th>
            </tr>
          </thead>
          <tbody>
            <% equipmentList.forEach(eq => { %>
            <tr class="equipment-row"
                data-id="<%= eq.equipment_id %>"
                data-model="<%= eq.model_name %>"
                data-gps="<%= eq.gps_lat %>, <%= eq.gps_long %>"
                data-etc="<%= eq.etc %>"
                data-created="<%= eq.created_at %>"
                data-updated="<%= eq.updated_at %>">
              <td><%= eq.equipment_id %></td>
              <td><%= eq.model_name %></td>
              <td><%= eq.created_at %></td>
              <td>
                <button class="btn btn-sm btn-warning text-dark edit-btn"
                    data-id="<%= eq.equipment_id %>"
                    data-model="<%= eq.model_name %>"
                    data-gps="<%= eq.gps_lat %>, <%= eq.gps_long %>"
                    data-etc="<%= eq.etc %>">수정</button>
                <button class="btn btn-sm btn-danger text-dark delete-btn" data-id="<%= eq.equipment_id %>">삭제</button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!-- 디테일 영역 -->
  <div class="col-4">
    <div class="card overflow-hidden">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="card-title mb-0">장비 상세 내용</h6>
      </div>
      <div id="map" style="height: 300px;" class="mt-3"></div>
      <table class="table table-bordered table-striped mt-3">
        <tbody>
            <tr><th>ID</th><td id="detail-id">-</td></tr>
            <tr><th>모델명</th><td id="detail-model">-</td></tr>
            <tr><th>GPS</th><td id="detail-gps">-</td></tr>
            <tr><th>기타</th><td id="detail-etc">-</td></tr>
            <tr><th>생성일</th><td id="detail-created_at">-</td></tr>
            <tr><th>수정일</th><td id="detail-updated_at">-</td></tr>
        </tbody>
      </table>
    </div>
  </div>

<%- include('equipment_modal') %>

