<div class="row">
  <!-- 🟢 CPU 사용률 도넛 -->
  <div class="col-md-2">
    <canvas id="cpuChart" data-value="<%= statusData.cpuUsagePercent %>"></canvas>
  </div>

  <!-- 🔵 RAM 사용률 도넛 -->
  <div class="col-md-2">
    <canvas id="ramChart" data-value="<%= statusData.ramUsagePercent %>"></canvas>
  </div>

  <!-- 📋 시스템 정보 테이블 -->
  <div class="col-md-8">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr><th>CPU 모델</th><td><%= statusData.cpuModel %></td></tr>
        <tr><th>코어 수</th><td><%= statusData.cpuCores %></td></tr>
        <tr><th>OS</th><td><%= statusData.osPlatform %> / <%= statusData.osVersion %></td></tr>
        <tr><th>Node 버전</th><td><%= statusData.nodeVersion %></td></tr>
        <tr><th>서버 시작</th><td><%= statusData.serverStarted %></td></tr>
        <tr><th>업타임</th><td><%= statusData.uptimeStr %></td></tr>
        <tr><th>내부 IP</th><td><%= statusData.localIp %></td></tr>
        <tr><th>공인 IP</th><td><%= statusData.publicIp %></td></tr>
      </tbody>
    </table>
  </div>
</div>
